@import "tailwindcss";

/* Figma color variables */
:root {
  --Color-Base-Brand-Red: #ed1c24;
  --Color-Brand-Red-100: #fde7e8;
  --colors-text-text-secondary-700: #4b5563;
  --Color-Grey-900: #1c2633;
  --Color-Grey-600: #717684;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  width: 100vw;
  height: 100vh;
  background: #fff;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}
